[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "sre"
url = "$SRE_PACKAGE_FEED"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
pytest-azurepipelines = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pipenv-setup = "*"

[packages]
click = "==7.0"
marshmallow = "==3.2.1"
azure-devops = "==5.1.0b4"
victoria-pbi = {editable = true,path = "."}
tabulate = "*"
colorama = "*"
victoria = {index = "sre",version = "*"}

[requires]
python_version = "3.7"
